@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background: #fafafa;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium text-lg no-underline;
}

.active {
  @apply bg-blue-500 text-white;
}
